@using System.ServiceModel.Channels
@model String
@{
    ViewBag.Title = "Game Final";
}

<h2>@Model</h2>

@Html.ActionLink("Go Back to Quest List", "Index", "Home",null, null)

<script> localStorage.clear() </script>
